<form>
    <!-- Search Input -->
    <h1>Search for Recipes</h1>
    <div>
        <input [(ngModel)]="foodSearch" placeholder="Search for Recipes" class="filter" name="search">
    </div>
    <!-- Max Ingredients -->
    <h2>Filter By:</h2>
    <h3>Maximum Number of Ingredients</h3>
    <div>
        <input [(ngModel)]="ingredients" placeholder="Max Ingredients" class="ingredients" name="ingredients">
    </div>
    <!-- health labels -->
    <h3>Dietary Preference</h3>
    <input [(ngModel)]="peanutFree" type="checkbox" name="peanutFree" value="peanutFree">
    <label for="peanutFree">peanut-free</label><br>
    <input [(ngModel)]="vegetarian" type="checkbox" name="vegetarian" value="vegetarian">
    <label for="vegetarian">vegetarian</label><br>
    <input [(ngModel)]="vegan" type="checkbox" name="vegan" value="vegan">
    <label for="vegan">vegan</label><br><br>
    
    <button (click)="getFilteredResults()">Search</button>
    
</form>
