/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
  }

  body{
      margin: 0;
  }

  img {
    border-radius: 15px;
    width: 400px
  }

  button {
    background-color: rgb(239, 103, 55);
    border: none;
    padding: 5px;
    outline: none;
  }