.hidden {
  display: none;
}

.results{
  padding-left: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}


/* .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.recipe {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.fullRecipe {
  padding: 10px 0px;
}

button {
  width: 170px;
  border-radius: 15px;
  background-color: rgb(239, 103, 55);
  border: none;
  padding: 5px;
}

@media only screen and (min-width: 800px) {
  .results {
    flex-direction: row;
  }
}